*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --MAIN-STYLE-COLOR:#c72092;
    --STYLE-GRADIENT:linear-gradient(to right, #c72092,#6c14d0);
}

html{
    /* width: 536px; */
    scroll-behavior: smooth !important;
}

section{
    width: 100%;
    height: 100vh;
    background-image: url(../image/bg1.png);
    background-size: cover;
    background-position: center;
}

section nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px black;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 100;
}

section nav .logo{
    font-size: 2rem;
    color:var(--MAIN-STYLE-COLOR);
    margin:5px 0px;
    cursor: pointer;
    position: relative;
    left: -4%;
}


section nav .logo span{
    color:#6c14d0;
    text-decoration: underline;
}

section nav ul li{
    list-style:none;
    display: inline-block;
    margin:5px 15px
}

section nav ul li a{
    text-decoration: none;
    color:black;
    transition: color 0.2s;
}

section nav ul li a:hover{
    color:var(--MAIN-STYLE-COLOR)
}

section nav .icon i{
    margin: 0 4px;
    cursor:pointer;
    font-size: 1rem;
    transition:0.3s;
}
section nav .icon i:hover{
    color:var(--MAIN-STYLE-COLOR)
}

section .main .main_content{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

section .main .main_content .main_text h1{
    font-size: 5rem;
    line-height: 70px;
    font-family: pyxidium quick;
    background:var(--STYLE-GRADIENT);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position:relative;
    top:45px;
    left:5%
}
section .main .main_content .main_text h1 span{
    font-size: 70px;
    background:var(--STYLE-GRADIENT);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

section .main .main_content .main_text p{
    width: min(800px,45vw);
    text-align: justify;
    line-height: 21px;
    position: relative;
    top:85px;
    left:5%;
}

section .main .main_content .main_image img{
    width: min(50vw,700px);
    height: auto;
    position:relative;
    left: 20px;
    top: 75px;

}

section .main .social_icon{
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%,-50%);
    font-size: 1.4rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

section .main .social_icon i {
    margin: 0 0;
    cursor: pointer;
    transition: 0.3s;
    
}
section .main .social_icon i:hover{
    color:var(--MAIN-STYLE-COLOR)
}
section .main .button{
    cursor: pointer;
    position: absolute;
    bottom:18%;
    left: 6%;
    padding:10px 20px;
    border-radius: 30px;
    background: var(--STYLE-GRADIENT);
}

section .main .button a{
    color: whitesmoke;
    text-decoration: none;

}
section .main .button i{
    color:whitesmoke;
    margin:1px 5px;
    transition: 0.3s;
}
section .main .button:hover i{
    transform: translateX(100%);
}

/* Products */

.products{
    width: 100%;
    height: 140vh;
    padding: 25px 0;

}
.products h1{
    margin: 35px 0;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background:var(--STYLE-GRADIENT);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.products .box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px 0;
}
.products .box .card .image img{
    width: 150px;
}
